<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955889587610-7u7i7ltafp4j5g2616asl1s912lr7v6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955889587610-7u7i7ltafp4j5g2616asl1s912lr7v6k</string>
	<key>API_KEY</key>
	<string>AIzaSyAgROhlGq3qJBxP0f_ApvYIZMts1hJe5kU</string>
	<key>GCM_SENDER_ID</key>
	<string>955889587610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.holden.developer.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-37a84</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-37a84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955889587610:ios:2c2d227c8528b7aef99623</string>
</dict>
</plist>